<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Solicitud reestablecimiento de contrase침a</title>
</head>

<body>
    <h1>Solicitud reestablecimiento de contrase침a</h1>
    <p>Enviamos un correo a tu direcci칩n de e-mail, por favor sigue los pasos para reestablecer tu contrase침a. </p>

    <a href="/">Volver al HOME</a>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>