<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Listado de productos:</h1>
    <ul>
        {{#each products}}
        <li>Nombre del Producto: {{this.title}} - Precio: $ {{this.price}} - Descripción: {{this.description}}</li>
        {{/each}}
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
