<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Listado de productos:</h1>
    <a href="/"><button>Home</button></a>
    <ul>
        {{#each products}}
        <li>{{this}}</li>  
        {{/each}}
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
