<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Tu perfil</title>
</head>
<body>
<div>
    <h1>Bienvenid@ a tu perfil!</h1>
    <p>Hola:{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>

    <a href="/api/session/logout"><button>Cerrar sesión</button></a>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
