<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Tu contraseña se reestableció de forma exitosa!</title>
</head>

<body>
    <div>
    <h1>Tu contraseña se reestableció de forma exitosa!</h1>
    <a href="/api/views/login">Iniciar Sesión</a>    
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>