<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Reestablecer contrase침a</title>
</head>

<body>
    <h1>Reestablecer contrase침a</h1>
    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
    <form action="/api/reset-pwd" method="POST">
        <label>Ingres치 la nueva contrase침a:</label>
        <input type="password" name="password" required>
        <button type="submit">REESTABLECER</button>
        <input type="hidden" name="token" value="{{token}}">
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>