<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{__dirname}}/style.css">
    <title>Reestablecer contraseña</title>
</head>

<body>
    <div>
    <h1>Reestablecer contraseña</h1>
    <p>La petición para recuperar tu contraseña, ha expirado. Por favor solicta un nuevo enlace y sigue los pasos.</p>
    <a href="/api/views/forgot-pwd">SOLICITAR NUEVA CONTRASEÑA</a>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>